{% extends "users/base.html" %}

{% block title %}Password Reset Request Sent{% endblock title %}

{% block content %}
<section class="container">
    <div class="form-content my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                
                <div class="login-container card shadow-lg border-0 mt-5"
                     style="border-radius: 15px; background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(10px);">
                    <div class="circle circle-one"></div>

                    <div class="form-container">
                        
                        <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png"
                             alt="illustration"
                             class="illustration"
                        />

                        <h3 class="font-weight-light text-center opacity">Password Reset Request Sent</h3>

                        <div class="card-body" style="padding: 20px;">
                            <p>
                                If the email you entered is registered with us, you will receive an email with instructions to reset your password.
                            </p>
                            <p>
                                You can go back to the <a href="{% url 'login' %}" style="color: #080909;">Login page</a> 
                                or return to <a href="{% url 'users-home' %}" style="color: #080909;">Home</a>.
                            </p>
                        </div>
                    </div>

                    <div class="circle circle-two"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
