{% extends "users/base.html" %}

{% block title %} Forgot Password {% endblock title %}

{% block content %}
<section class="container">
    <div class="form-content my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                
                <div class="login-container card shadow-lg border-0 mt-5" 
                     style="border-radius: 15px; background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(10px);">
                    <div class="circle circle-one"></div>

                    <div class="form-container py-4 px-3">
                        <h3 class="font-weight-light text-center opacity" style="color: #333;">Forgot Password?</h3>

                        {% if form.errors %}
                           
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="border-radius: 10px;">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}

                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="small mb-1" style="color: #343a40;" for="id_email">Email</label>
                                <input type="email" name="email" class="form-control" autocomplete="email" 
                                       maxlength="254" required id="id_email" placeholder="Enter email"/>
                            </div>

                            <div class="form-group text-center mt-4">
                                <button type="submit" class="btn btn-dark col-md-12 opacity" 
                                        style="background-color: #0e73d8; color: white; border-radius: 10px;">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="circle circle-two"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer text-center">
        <div class="small">
            <a href="{% url 'register' %}" style="color: #0c0d0e;">Create A New Account</a><br><br>
            <a href="{% url 'login' %}" style="color: #080909;">Back To Login</a><br>
        </div>
    </div>
</section>
{% endblock content %}
