{% extends "users/base.html" %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<section class="container">
    <div class="form-content my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                
                <div class="login-container card shadow-lg border-0 mt-5"
                     style="border-radius: 15px; background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(10px);">
                    <div class="circle circle-one"></div>

                    <div class="form-container">
                        
                        <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png"
                             alt="illustration"
                             class="illustration"
                        />

                        <h3 class="font-weight-light text-center opacity">Reset Password</h3>

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    

                        
                        <div class="card-body" style="padding: 20px;">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="form-group text-center">
                                    <button class="btn btn-dark opacity"
                                            style="width: 100%; background-color: #0e73d8; color: white; border-radius: 10px;">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>

                        
                        <div class="register-forget opacity text-center">
                            <a href="{% url 'login' %}" style="color: #080909;">Back to Login</a>
                        </div>
                    </div>

                    <div class="circle circle-two"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
